@charset "utf-8";
@import url("//fonts.googleapis.com/css?family=Lato:100,300,400,700");
@import url("//fonts.googleapis.com/css?family=Source+Code+Pro:300");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
a {
  color: #f1c40f;
  text-decoration: none;
  -webkit-transition: border 0.25s linear;
  -moz-transition: border 0.25s linear;
  -o-transition: border 0.25s linear;
  -ms-transition: border 0.25s linear;
  transition: border 0.25s linear;
}
a:hover {
  color: #f1c40f;
}
strong,
b {
  font-weight: bold;
}
em {
  font-style: italic;
}
code {
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
del {
  text-decoration: line-through;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
root sub,
root sup {
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.2em;
}
acronym,
abbr {
  border-bottom: 1px dotted;
  font-variant: normal;
}
abbr {
  cursor: help;
}
hr {
  width: 50%;
  margin: 3em auto;
  border: 0;
  border-bottom: 5px solid #f7e186;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #34495e;
  font-weight: bold;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #34495e;
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #34495e;
}
h1 {
  font-size: 150%;
}
h2 {
  font-size: 140%;
}
@media screen and (max-width: 1040px) {
  h2 h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 620px) {
  h2 h2 {
    font-size: 18px;
  }
}
h3 {
  font-size: 120%;
}
h4 {
  font-size: 110%;
}
h5 {
  font-size: 100%;
}
h6 {
  font-size: 90%;
}
pre,
code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  font-size: 1em;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
dt,
dl {
  color: #555;
}
dt {
  font-weight: bold;
}
small {
  color: #808080;
  font-size: small;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
html {
  font-size: 15px;
}
body {
  font-family: Hiragino Kaku Gothic Pro, YuGothic, Meiryo, MS PGothic, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 300;
  background: #fff;
  line-height: 1.8;
}
@media screen and (max-width: 1040px) {
  body {
    width: 60%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 620px) {
  body {
    font-size: 100%;
    width: 80%;
    margin: 0 auto;
  }
}
.inner {
  width: 700px;
  margin: 0 auto;
}
@media screen and (max-width: 1040px) {
  .inner {
    width: 100%;
  }
}
.Column__container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 559px) {
  .Column__container {
    width: 100%;
  }
}
@media screen and (min-width: 960px) {
  .Column__container {
    max-width: 900px;
  }
}
@media screen and (min-width: 1200px) {
  .Column__container {
    max-width: 1140px;
  }
}
.Column__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.Column__row [class*= Column__block] {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Column__block {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Column__block--12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.Column__block--6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
@media screen and (min-width: 960px) {
  .Column__block-md--6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.Column__block--4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 33.333333%;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
@media screen and (min-width: 960px) {
  .Column__block-md--4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
.Column__block--3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.Column__block--2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 16.666667%;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
@media screen and (min-width: 960px) {
  .Column__block-md--2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}
@media screen and (min-width: 960px) {
  .Column__replace-md--first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: -1;
    -moz-box-ordinal-group: -1;
    -o-box-ordinal-group: -1;
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
}
@media screen and (min-width: 960px) {
  .Column__replace-md--1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -o-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
}
@media screen and (min-width: 960px) {
  .Column__replace-md--2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -o-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
}
@media screen and (min-width: 960px) {
  .Column__replace-md--3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -o-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
}
@media screen and (min-width: 960px) {
  .Column__replace-md--4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    -o-box-ordinal-group: 4;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
}
.Header {
  padding: 15px 0 10px;
  background-color: #fff;
}
.Header__content {
  display: block;
}
@media screen and (min-width: 560px) {
  .Header__content {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}
.Header__content--logo {
  display: block;
  line-height: 1;
}
.Header__content--logo img {
  display: block;
  height: 38px;
  width: auto;
}
.Header__content--link {
  display: none;
}
@media screen and (min-width: 560px) {
  .Header__content--link {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    list-style: none;
  }
}
.Header__content--button {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-left: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  color: #333;
  text-decoration: none;
  font-size: 12px;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.Header__content--button:hover {
  background: #eee;
}
.Header__content--button img {
  margin-right: 5px;
}
.Header__content--button-icon {
  margin-left: 5px;
}
.Nav {
  background-color: #fff;
}
.Nav__container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 559px) {
  .Nav__container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media screen and (max-width: 559px) {
  .Nav__mobile {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    padding: 20px;
    background-color: #0e5faf;
    border: none;
    z-index: 99999;
  }
  .Nav__mobile span {
    width: 100%;
    max-width: 24px;
    height: 2px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    background: #fff;
    position: absolute;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .Nav__mobile span:nth-child(1) {
    top: 11px;
  }
  .Nav__mobile span:nth-child(2) {
    top: 19px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  .Nav__mobile span:nth-child(3) {
    bottom: 11px;
  }
  .Nav__mobile-close span:nth-child(1) {
    top: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .Nav__mobile-close span:nth-child(2) {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  .Nav__mobile-close span:nth-child(3) {
    bottom: 18px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .Nav__dropdown--parent {
    position: relative;
  }
  .Nav__dropdown--parent:after {
    content: "+";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    font-size: 1.6rem;
    font-weight: bold;
    pointer-events: none;
  }
  .Nav__dropdown--parent:before {
    display: block;
  }
  .Nav__dropdown--parent-close:after {
    content: "-";
  }
  .Nav__dropdown--parent-link:hover {
    color: #fff;
  }
  .Nav__dropdown--child {
    display: none;
  }
  .Nav__dropdown--item {
    display: none;
  }
  .Nav__list {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #364860;
    color: #fff;
    z-index: 9999;
  }
  .Nav__list--logo {
    display: block;
    padding: 15px;
  }
  .Nav__list--show {
    display: block;
  }
  .Nav__list--item {
    display: block;
    width: 100%;
  }
  .Nav__list--item > a {
    display: block;
    padding: 10px 15px;
    border-top: 1px solid rgba(255,255,255,0.4);
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
  }
  .Nav__list--item > a .svg-inline--fa {
    margin-left: 5px;
  }
  .Nav__list--item:last-child {
    border-bottom: 1px solid rgba(255,255,255,0.4);
  }
  .Nav__list--item-mobile {
    display: block;
  }
  .Nav__list--child {
    display: none;
    margin: 0;
    position: relative;
  }
  .Nav__list--child-item-img img {
    display: none;
  }
  .Nav__list--child-item a {
    display: block;
    position: relative;
    padding: 5px 15px 5px 30px;
    font-size: 0.9rem;
    text-decoration: none;
    color: #fff;
  }
  .Nav__list--child-item a:before {
    position: absolute;
    content: '';
    top: 12px;
    left: 15px;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 5px 0 5px 8px;
    border-color: transparent transparent transparent #1e88e5;
  }
  .Nav__list--child-item-head {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 0.9rem;
    border-top: 1px solid rgba(255,255,255,0.2);
  }
  .Nav__list--child-item-head > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
@media screen and (min-width: 560px) {
  .Nav__container {
    max-width: 870px;
  }
  .Nav__mobile {
    display: none;
  }
  .Nav__list {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .Nav__list:after {
    content: "";
    display: table;
  }
  .Nav__list:before {
    content: "";
    display: table;
  }
  .Nav__list:after {
    clear: both;
  }
  .Nav__list--item {
    display: block;
    width: 100%;
  }
  .Nav__list--item > a {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 10px 5px;
    border-right: 1px solid #ccc;
    color: #333;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
  }
  .Nav__list--item > a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: transparent;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
  }
  .Nav__list--item > a:hover::after {
    background-color: #0e5faf;
  }
  .Nav__list--item:first-child a {
    border-left: 1px solid #ccc;
  }
  .Nav__list--item a.active:after {
    background-color: #0e5faf;
  }
  .Nav__list--item.home {
    border-left: 1px solid #ccc;
  }
  .Nav__list--item-mobile {
    display: none;
  }
  .Nav__list--child {
    display: none;
    width: 100vw;
    margin-top: 0;
    margin-left: calc(50% - 50vw);
    padding: 40px;
    background: rgba(54,72,96,0.9);
    color: #fff;
    position: absolute;
    z-index: 99;
    left: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
    -ms-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-name: fade-in;
    -moz-animation-name: fade-in;
    -o-animation-name: fade-in;
    -ms-animation-name: fade-in;
    animation-name: fade-in;
  }
  .Nav__list--child:after {
    content: "";
    display: table;
    clear: both;
  }
  .Nav__list--child:before {
    content: "";
    display: table;
  }
  .Nav__list--child-display {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: start;
    -moz-box-align: start;
    -o-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .Nav__list--child-item {
    margin: 0;
    list-style: none;
    width: 100%;
    background: none;
    clear: both;
  }
  .Nav__list--child-item a {
    display: block;
    padding: 3px 0;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    color: #fff;
  }
  .Nav__list--child-item a:hover {
    text-decoration: underline;
    color: #fff;
  }
  .Nav__list--child-item-head {
    width: 33.33%;
    max-width: 290px;
    font-size: 1.1rem;
    font-weight: bold;
  }
  .Nav__list--child-item-img {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding-bottom: 10px;
  }
  .Nav__list--child-item-img img {
    margin-right: 10px;
    width: auto;
    height: 32px;
  }
}
@media screen and (min-width: 960px) {
  .Nav__container {
    max-width: 870px;
  }
  .Nav__list--child-item-head {
    max-width: 290px;
  }
}
@media screen and (min-width: 1200px) {
  .Nav__container {
    max-width: 1110px;
  }
  .Nav__list--child-item-head {
    max-width: 370px;
  }
}
@-moz-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  1% {
    display: block;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    display: block;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  1% {
    display: block;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    display: block;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  1% {
    display: block;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    display: block;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  1% {
    display: block;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    display: block;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
.archives {
  padding: 40px 0 1.5em;
}
.archives h2 {
  color: #333;
  font-size: 25px;
  line-height: 20px;
  margin-bottom: 30px;
}
.list h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  margin-left: 0;
  text-align: left;
  border-bottom: 0px;
  color: #34495e;
}
.list h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: normal;
}
.list h3 a {
  color: #34495e;
  font-weight: bold;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}
.list h3 a:hover {
  color: #f1c40f;
}
.list .meta {
  color: #333;
  font-size: 0.9em;
  line-height: 20px;
  margin-bottom: 20px;
}
.archive-category {
  color: #555;
  display: inline-block;
}
.archive-category a {
  color: #3498db;
}
.article {
  padding-top: 40px;
}
.article header {
  margin-bottom: 1.5em;
}
.article .article-meta {
  font-size: 0.9em;
  color: #333;
}
.article h3 a.article-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  margin-left: 0;
  text-align: left;
  border-bottom: 0;
  color: #34495e;
}
@media screen and (max-width: 1040px) {
  .article h3 a.article-title {
    font-size: 21px;
  }
}
.article .article-entry {
  line-height: 1.8;
}
@media screen and (max-width: 480px) {
  .article .article-entry {
    line-height: 25px;
  }
}
.article .article-entry h1,
.article .article-entry h2,
.article .article-entry h3,
.article .article-entry h4,
.article .article-entry h5,
.article .article-entry h6 {
  padding-bottom: 10px;
}
.article .article-entry h2 {
  font-weight: bold;
  color: #555;
  border-bottom: 1px solid #e5e5e5;
  margin: 50px 0 20px;
}
.article .article-entry h3 {
  font-weight: bold;
  color: #555;
  margin-bottom: 18px;
}
.article .article-entry h6 {
  color: #777;
}
.article .article-entry p,
.article .article-entry li {
  color: #555;
}
.article .article-entry p {
  margin-top: 10px;
  margin-bottom: 1.5em;
}
.article .article-entry p a+em {
  font-size: 14px;
  letter-spacing: 0.4px;
  display: block;
  color: #999;
  text-align: center;
  margin-top: 4px;
}
.article .article-entry blockquote,
.article .article-entry ul,
.article .article-entry ol,
.article .article-entry dl,
.article .article-entry h1,
.article .article-entry h2,
.article .article-entry h3,
.article .article-entry h4,
.article .article-entry h5,
.article .article-entry h6,
.article .article-entry .video-container {
  margin-top: 1.5em;
}
.article .article-entry blockquote p,
.article .article-entry ul p,
.article .article-entry ol p,
.article .article-entry dl p,
.article .article-entry h1 p,
.article .article-entry h2 p,
.article .article-entry h3 p,
.article .article-entry h4 p,
.article .article-entry h5 p,
.article .article-entry h6 p,
.article .article-entry .video-container p {
  margin-bottom: 0;
}
.article .article-entry blockquote,
.article .article-entry ul,
.article .article-entry ol,
.article .article-entry dl {
  margin: 1.5em 0;
}
.article .article-entry blockquote {
  font-size: 85%;
  text-align: left;
  border-left: 5px solid #f5f5f5;
  padding-left: 10px;
}
.article .article-entry blockquote p {
  margin-bottom: 1.5em;
}
.article .article-entry blockquote p:last-child {
  margin-bottom: 0;
}
.article .article-entry blockquote footer {
  color: #000;
  font-size: 80%;
  margin: 1.8 0;
  font-family: Hiragino Kaku Gothic Pro, YuGothic, Meiryo, MS PGothic, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}
.article .article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article .article-entry ul,
.article .article-entry ol,
.article .article-entry dl {
  margin-left: 20px;
}
.article .article-entry ul ul,
.article .article-entry ol ul,
.article .article-entry dl ul,
.article .article-entry ul ol,
.article .article-entry ol ol,
.article .article-entry dl ol,
.article .article-entry ul dl,
.article .article-entry ol dl,
.article .article-entry dl dl {
  margin-top: 0;
}
.article .article-entry pre {
  padding: 12px 15px;
}
.article .article-entry code {
  font-size: 0.9em;
  font-weight: 300;
  padding: 0 3px;
  margin: 1px 3px;
}
.article .article-entry code,
.article .article-entry pre {
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  color: #555;
  overflow-x: auto;
  border-radius: 5px;
}
.article .article-entry img,
.article .article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article .article-entry table {
  color: #555;
  margin: 0;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article .article-entry th {
  color: #000;
  font-weight: bold;
  border-bottom: 3px solid #f7e186;
  padding-bottom: 0.5em;
}
.article .article-entry td {
  border-bottom: 1px solid #f7e186;
  padding: 10px 0;
}
.article .article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article .article-entry .video-container iframe,
.article .article-entry .video-container object,
.article .article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article .article-entry .pullquote {
  border-left: 0;
  padding-left: 0;
  font-size: 110%;
  text-align: left;
  width: 45%;
  margin: 0;
}
.article .article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article .article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article .article-entry .caption {
  color: #555;
  display: block;
  font-size: 0.8em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-tag-list {
  color: #d3d3d3;
  padding: 0;
  list-style-type: none;
}
.article-tag-list-item {
  display: inline-block;
  margin-right: 10px;
}
.article-tag-list-item a {
  color: #d3d3d3;
}
.article-tag-list-item:before {
  content: "#";
}
.article-gallery {
  background: #000;
  position: relative;
  margin: 1em 0;
  border-radius: 8px;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 8px;
}
.gist {
  border: 0;
  margin: 0;
  background-color: #f5f5f5;
  border-radius: 5px;
  text-shadow: 0 0 1px #fff;
  overflow: auto;
  color: #666;
}
.gist .file-data {
  font-size: 16px !important;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace !important;
  line-height: 1.6 !important;
  padding: 7px 20px !important;
}
@media screen and (max-width: 480px) {
  .gist .file-data {
    font-size: 14px !important;
  }
}
.gist .gist-file {
  border: none !important;
  font-family: inherit;
  margin: 0 !important;
  font-size: 0.9em;
}
.gist .gist-file .gist-data {
  background: none;
  border-bottom: none !important;
}
.gist .gist-file .gist-data pre {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace !important;
}
.gist .gist-file .gist-data td {
  border-bottom: none !important;
}
.gist .gist-file .gist-data .line-numbers {
  color: #268bd2 !important;
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.gist-meta {
  background: none;
  color: #268bd2;
  padding: 0 20px 20px !important;
  text-shadow: 0 0 1px #fff;
  font-size: 16px !important;
}
@media screen and (max-width: 480px) {
  .gist-meta {
    font-size: 14px !important;
  }
}
.gist-meta a {
  font-weight: 300 !important;
}
.gist-meta a:hover {
  color: #f1c40f !important;
}
figure.highlight {
  border: 0;
  margin: 0;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  position: relative;
  font-size: 0.9em;
}
figure.highlight figcaption {
  color: #d3d3d3;
  padding: 5px 10px;
  text-shadow: 0 0 1px #fff;
}
figure.highlight figcaption a {
  position: absolute;
  right: 15px;
}
figure.highlight pre {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
figure.highlight table {
  width: auto !important;
  margin-top: 0;
  border-spacing: 0;
}
figure.highlight th {
  font-weight: normal;
  border-bottom: 0;
  padding-bottom: 0;
}
figure.highlight td {
  border-bottom: 0 !important;
  padding: 5px !important;
}
figure.highlight .gutter pre {
  color: #268bd2;
  text-align: right;
  padding-right: 0;
}
figure.highlight .code {
  color: #666;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #859900;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
  color: #268bd2;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #b58900;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
  color: #cb4b16;
}
pre .deletion {
  color: #dc322f;
}
.Main__contact {
  margin-top: 80px;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  background: -moz--webkit-linear-gradient(bottom, #004a93, #1e88e5);
  background: -moz--moz-linear-gradient(bottom, #004a93, #1e88e5);
  background: -moz--o-linear-gradient(bottom, #004a93, #1e88e5);
  background: -moz--ms-linear-gradient(bottom, #004a93, #1e88e5);
  background: -moz-linear-gradient(to top, #004a93, #1e88e5);
  background: -webkit--webkit-linear-gradient(bottom, #004a93, #1e88e5);
  background: -webkit--moz-linear-gradient(bottom, #004a93, #1e88e5);
  background: -webkit--o-linear-gradient(bottom, #004a93, #1e88e5);
  background: -webkit--ms-linear-gradient(bottom, #004a93, #1e88e5);
  background: -webkit-linear-gradient(to top, #004a93, #1e88e5);
  background: -webkit-linear-gradient(bottom, #004a93, #1e88e5);
  background: -moz-linear-gradient(bottom, #004a93, #1e88e5);
  background: -o-linear-gradient(bottom, #004a93, #1e88e5);
  background: -ms-linear-gradient(bottom, #004a93, #1e88e5);
  background: linear-gradient(to top, #004a93, #1e88e5);
}
@media screen and (min-width: 960px) {
  .Main__contact {
    background: -moz--webkit-linear-gradient(left, #004a93, #1e88e5);
    background: -moz--moz-linear-gradient(left, #004a93, #1e88e5);
    background: -moz--o-linear-gradient(left, #004a93, #1e88e5);
    background: -moz--ms-linear-gradient(left, #004a93, #1e88e5);
    background: -moz-linear-gradient(to right, #004a93, #1e88e5);
    background: -webkit--webkit-linear-gradient(left, #004a93, #1e88e5);
    background: -webkit--moz-linear-gradient(left, #004a93, #1e88e5);
    background: -webkit--o-linear-gradient(left, #004a93, #1e88e5);
    background: -webkit--ms-linear-gradient(left, #004a93, #1e88e5);
    background: -webkit-linear-gradient(to right, #004a93, #1e88e5);
    background: -webkit-linear-gradient(left, #004a93, #1e88e5);
    background: -moz-linear-gradient(left, #004a93, #1e88e5);
    background: -o-linear-gradient(left, #004a93, #1e88e5);
    background: -ms-linear-gradient(left, #004a93, #1e88e5);
    background: linear-gradient(to right, #004a93, #1e88e5);
  }
}
.Main__contact--heading {
  display: block;
  padding-bottom: 15px;
  font-size: 1.5rem;
  color: #fff;
}
.Main__contact--lead {
  padding-bottom: 15px;
  font-size: 0.9rem;
}
.Main__contact--note {
  padding-top: 5px;
  font-size: 0.7rem;
}
.Button__secondary {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  padding: 12px 15px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
  border: 2px solid #fff;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Button__secondary .svg-inline--fa {
  margin-right: 5px;
  font-size: 1.3rem;
}
.Button__secondary:hover {
  background: #fff;
  color: #0e5faf;
}
.Footer {
  padding: 40px 0;
  background-color: #fff;
}
.Footer__top {
  display: inline-block;
  position: fixed;
  bottom: 15px;
  right: -60px;
  width: 30px;
  height: 30px;
  z-index: 999;
  display: inline-block;
  font-size: 15px;
  vertical-align: middle;
  -webkit-transition: right 0.5s ease-out, margin-right 0.5s ease-in-out;
  -moz-transition: right 0.5s ease-out, margin-right 0.5s ease-in-out;
  -o-transition: right 0.5s ease-out, margin-right 0.5s ease-in-out;
  -ms-transition: right 0.5s ease-out, margin-right 0.5s ease-in-out;
  transition: right 0.5s ease-out, margin-right 0.5s ease-in-out;
}
.Footer__top.is-fixed {
  right: 10px;
}
.Footer__top--button {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #0e5faf;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.6);
  color: #0e5faf;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.Footer__link {
  margin-bottom: 15px;
  list-style: none;
}
.Footer__link--item {
  line-height: 1.2rem;
}
.Footer__link--item a {
  display: block;
  padding: 3px 0;
  font-size: 0.8rem;
  color: #333;
  text-decoration: none;
}
.Footer__link--item a:hover {
  text-decoration: underline;
}
.Footer__link--item-note {
  display: block;
  font-size: 0.75rem;
  color: #999;
}
.Footer__link--item-head {
  margin-bottom: 3px;
}
.Footer__link--item-head a {
  display: block;
  padding: 5px 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}
.Footer__link--item-head a:hover {
  text-decoration: underline;
}
.Footer__link--item-category a {
  display: block;
  padding: 3px 0;
  font-size: 0.9rem;
  color: #333;
  text-decoration: none;
}
.Footer__link--item-category a:hover {
  text-decoration: underline;
}
.Footer__social {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  list-style: none;
  -webkit-box-pack: left;
  -moz-box-pack: left;
  -o-box-pack: left;
  -ms-flex-pack: left;
  -webkit-justify-content: left;
  justify-content: left;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.Footer__social--list {
  margin: 5px 10px 0 0;
}
.Footer__social--twitter {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: #1da1f2;
  border-radius: 15px;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  font-size: 15px;
}
.Footer__social--twitter:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  color: #fff;
}
.Footer__social--facebook {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: #3b5998;
  border-radius: 15px;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  font-size: 15px;
}
.Footer__social--facebook:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  color: #fff;
}
.Footer__logo {
  display: block;
  margin: 40px auto 20px;
}
.Footer__information {
  text-align: center;
  font-size: 0.85rem;
  line-height: 1.5;
}
.Footer__copyright {
  text-align: center;
  font-size: 0.75rem;
  color: #999;
}
